# compiled output
/dist
/node_modules
/creditConveyor/node_modules
/creditConveyor/dist
/deal/node_modules
/deal/dist
/deal/full-stack
/deal/pgadmin
/deal/pgdata
/deal/postgres_data
/application/node_modules
/application/dist
/dossier/node_modules
/dossier/dist
/auth/node_modules
/auth/dist
/gateway/node_modules
/gateway/dist
/pgadmin
/pgdata
/postgres_data
/full-stack

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.env

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/settings.json